.h-screen{}
.design-icon__left{
  position: fixed;
  bottom: -20%;
  left: -5%;
  width: 20%;
}

.design-icon__right{
  position: fixed;
  bottom: 0;
  right: 0;
}
.flex-grow.z-2 {
  margin-left: 220px;
}
