<div class="pk-card__right">
  <p class="pk-texto" *ngIf="cardPokemon!.length > 0">
    Suas cartas do baralho
  </p>
  <p class="pk-quantidade" *ngIf="cardPokemon!.length > 0">
    Qtd de cartas: {{cardPokemon?.length}}
  </p>
  <div class="grid grid-cols-4 md:grid-cols-3 gap-4">
    <div
      class="pk-card grid grid-cols-3 card relative"
      *ngFor="let card of cardPokemon"
    >
      <div class="col-span-12 flex justify-center">
        <img
          class="w-4/5 border border-gray-300 pk-image"
          [src]="card.images.small"
          [alt]="card.name"
        />
      </div>
      <div class="col-span-12 flex flex-col pk-card__text align-center justify-center ">
        <p class="text-lg font-semibold pk-subtitle">
          {{ card.set.name }}
        </p>
        <div class="text-yellow-400 pk-start">
          {{ getStars(+card.hp) }}
        </div>
      </div>
    </div>
  </div>
</div>
