.pk-edit-home{
  .pk-title__page{
    font-size: 1.4em;
    font-weight: 900;
    margin: 10px 0 0 0;
    line-height: normal;
  }
  .pk-subtitle__page{
    font-size: 1.2em;
    font-weight: 400;
    margin: 15px 0 0 0;
    line-height: normal;
  }
  .pk-home-edit__card{
    .text-xs{
      font-weight: 900;
      color: #333;
      font-size: 0.6em;
      margin: 0;
      line-height: normal;
    }
    .text-2xl{
      color: #333;
      font-weight: 400;
      font-size: 0.6em;
      margin: 10px 0 0 0;
      line-height: normal;
    }
  }
}

