:host ::ng-deep .igx-nav-drawer {
  // --background: #fff;
  width: 220px; /* ou qualquer outra largura desejada */
  height: 100vh; /* 100% da altura da tela */
  position: fixed; /* opcional, para fixar o drawer na tela */
}
