<div class="pk-home">
  <div class="col-span-12">
    <div
      class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 shadow-lg rounded-lg p-6 text-white mb-6"
    >
      <app-title>Comece a construir seu baralho!</app-title>
      <app-subtitle
        >Adicione cartas e crie estratégias imbatíveis para vencer seus
        oponentes.</app-subtitle
      >
    </div>
  </div>
  <app-card-list
    [decks]="cardPokemon"
    (editDeck)="editDeck($event)"
    (deleteDeck)="deleteDeck($event)"
  ></app-card-list>
</div>
